<template>
    <div>
        <ul>
            <li>消息</li>
        </ul>
    </div>
</template>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>