<template>
    <div>
        <ul>
            <li>嫦娥五号登月</li>
            <li>新冠疫苗问世</li>
        </ul>
    </div>
</template>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>